.slide-in-delay {
  opacity: 0;
  animation: slide-in forwards ease-out 1s;
  animation-delay: calc(var(--delay) * 100ms);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-from-left {
  opacity: 0;
  animation: slide-in-from-left forwards ease-out 1s;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
